<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleDisplayName</key>
    <string>Needlbar</string>
    <key>CFBundleExecutable</key>
    <string>Needlbar</string>
    <key>CFBundleIdentifier</key>
    <string>com.taejunoh.needlbar</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>Needlbar</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>0.2.2</string>
    <key>CFBundleVersion</key>
    <string>2</string>
    <key>LSMinimumSystemVersion</key>
    <string>14.0</string>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>needlbar</string>
            </array>
        </dict>
    </array>
    <key>LSUIElement</key>
    <true/>
    <key>NeedlbarAppGroupIdentifier</key>
    <string>$(NEEDLBAR_APP_GROUP_IDENTIFIER)</string>
</dict>
</plist>
